body {
    font-family: Verdana, Comic, sans serif;
    background-color: #fff;
    background-image: url("splash.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0px 400px;
    color: #bbbbaa;
    margin: 0px;
}

h1 {
    font-size: 16pt;
    color: #00598E;
}

.hover-link {
    cursor:auto;
}

.signature {
    font-family: "Blackadder ITC", Consolas, "Times New Roman", Arial;
}

.jumbotron-override {
    background-color: #fff;
    border-color: #e7e7e7;
    box-shadow: 1px 1px 5px #888888;
}

.my-modal {
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: @zindex-modal;
    -webkit-overflow-scrolling: touch;

    // Prevent Chrome on Windows from adding a focus outline. For details, see
    // https://github.com/twbs/bootstrap/pull/10951.
    outline: 0;

}

div.padded-text {
    color: #444555;
    background-color: #ddd;
    margin: auto 0px;
    width: 100%;
    padding: 50px;
}



footer {
    background-color: #fff;
    width:100%;
    bottom:0;
    border-color: #e7e7e7;
    box-shadow: 1px 1px 5px #888888;
}

p.normal {
    font-style: normal;
}

p.italic {
    font-style: italic;
}

p.bold {
    font-weight: bold;
}
