body {
    font-family: Verdana, Comic, sans serif;
    background-color: #000000;
    background-image: url("splash.png");
    background-size: 100%;
    background-repeat: no-repeat;
    color: #bbbbaa;
    margin: 0px;
}

h1 {
    font-size: 16pt;
    color: #00598E;
}

.hover-link {
    cursor:auto;
}

.my-modal {
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: @zindex-modal;
    -webkit-overflow-scrolling: touch;

// Prevent Chrome on Windows from adding a focus outline. For details, see
// https://github.com/twbs/bootstrap/pull/10951.
outline: 0;

}

